* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  color: #253347;
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter";
}
input:focus {
  border-color: #fff;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  width: 100%;
  height: 100%;
}

.GuyImg {
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

body {
  background-color: #fefefe;
}
